.bg-black {
    background-color: black;
}

.sony {
    height: 20px;
}

.returnal {
    height: 50px;
}

.bi-search {
    font-size: 24px;
}

.total {
    margin-top:300px
}

.jumbotron {
  background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
  height: 554px;
    background-repeat: no-repeat;
    background-size: 239%;
    background-position-x: right;
    background-position-y: center;
}

.jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 450px;
      background-repeat: no-repeat;
      background-size: 230%;
      background-position-x: center;
}

.photo {
    width: 100%;
}

.it-takes-two {
    height: 150px;
}

.position {
    position: sticky;
    top: 0;
    
}

