.bg-black {
    background-color: black;
}

.sony {
    height: 20px;
}

.returnal {
    height: 50px;
}

.bi-search {
    font-size: 24px;
}

.total {
    margin-top:300px
}

.jumbotron {
  background-image: url(../img/jumbo-bg.png);
  height: 554px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.jumbotron-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 450px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: center;
}

.bg-color-gray {
    background-color:#BEBCBB;
}

.bg-color-blue {
    background-color:#161C3B;
}

.bg-color-light-blue {
    background-color:#00439C;
}

.photo {
    width: 100%;
}

.ps-plus {
    height: 50px;
}
.sie {
    height: 50px;
}

.it-takes-two {
    height: 150px;
}

.position {
    position: sticky;
    top: 0;
}

li {
    list-style-type: none;
}

